@import "../../App.scss";
.navbar{
    height: 100px;
    margin-left: 50px;
    margin-right: 20px;
   


.wrapper{
    max-width: 1366px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 100%;

}
.socials{
    display: flex;
    gap: 20px;
    // margin-right: 1%;

}
span{
    padding-right: 6%;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: cursive;
    text-decoration:line-through;
    @include mobile{
        font-size: 1.5rem;
    }
    img{
        width: 25px;
        height: 25px;
        
        }
}

}
